/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    /* background-image: url(bsoft.png); */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}



main {
    padding: 20px;
}

.main-block {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    background-color: #add8e6;
}

h2 {
    margin-bottom: 10px;
}


.category-list {
    display: flex;
    flex-wrap: nowrap;
    height:20%;
    
}

.category-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fafafa;
    text-decoration: none;
}

.category-list a:hover {
    transform: scale(1.05);
}

.category-list img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
}

.category-list span {
    font-size: 16px;
    text-align: center;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


.item-list {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
        align-items: center;*/


}

.item-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fafafa;
    text-decoration: none;
}

.item-list a:hover {
    transform: scale(1.05);
}

.item-list img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}

.item-list span {
    font-size: 16px;
    text-align: center;
    color: #333;
}

.main-block a {
  
    color: #333;
    text-decoration: none;
}


/*/*.item-list {
    display: flex;
    flex-wrap: nowrap;
    width:20%;
  justify-content: center;
}

.item-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #fafafa;
    text-decoration: none;
}

.item-list a:hover {
    transform: scale(1.05);
}

. item-list img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
}

.item-list span {
    font-size: 16px;
    text-align: center;
    color: #333;
}*/


.items {
    display:flex;
    justify-content:flex-start;
}